name: A workflow for my Population App

on:
  push:
    branches:
      - master
      - develop
      - feature/*

jobs:
  UnitTests:
    name: Unit Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Run Unit Tests
        run: mvn -Dtest=com.napier.devops.AppTest test


  IntegrationTests:
    name: Integration Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Build and Start Test Database Container
        run: |
          docker build -t database ./db
          docker run --name worlddb -dp 33060:3306 database
          # Wait for MySQL to fully start
          sleep 25

      - name: Run Integration Tests (with Coverage)
        run: mvn -Dtest=com.napier.devops.AppIntegrationTest test

      - name: Stop and Remove Test Database Container
        if: always()
        run: |
          docker stop worlddb
          docker rm worlddb
          docker image rm database

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          directory: ./target/site/jacoco
          flags: IntegrationTests
          verbose: true


  build:
    name: Build and Run Using docker-compose
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Package and Run App
        run: |
          mvn package -DskipTests
          docker compose up --abort-on-container-exit
