name: Workflow for my Population App

on:
  push

jobs:
  build:
    name: Build and Run Population App
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Set up JDK 24
        uses: actions/setup-java@v2
        with:
          java-version: '24'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn package

      - name: Run Docker Compose
        run: docker compose up --abort-on-container-exit